Lab3_task4_pt3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="majorType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="durationInYears" type="xs:integer" />
            <xs:element name="type" type="xs:string" />
            <xs:element name="description" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="stacionary" type="xs:string" />
    </xs:complexType>
</xs:schema>

<!-- Author: Krzysztof Tomkow, index number: 218514 -->
